In [1]:
import pandas as pd
import numpy as np

In [3]:
datas = pd.date_range('20180101', periods=600, freq='D')
df = pd.DataFrame(np.random.randn(600, 5), index=datas, columns = list('ABCDE'))

In [4]:
df

                   A         B         C         D         E
2018-01-01 -1.072638  0.572181 -1.031178 -0.670246 -0.368232
2018-01-02 -1.518206  0.992099 -0.294819 -1.566416 -2.840115
2018-01-03  1.146488  1.217014  0.459875  1.815070 -0.803982
2018-01-04  1.292546 -1.353532  0.807752 -0.899200  1.936880
2018-01-05  0.365542 -0.011887  0.374767  1.053947 -0.487068
...              ...       ...       ...       ...       ...
2019-08-19 -1.492026 -2.576895  1.365933 -1.444984 -0.537248
2019-08-20 -0.076429  0.505669  0.040796 -1.261852  0.272992
2019-08-21  0.858220  0.233858  0.060614  0.164452  0.612082
2019-08-22 -0.296691  0.319106 -1.081118  0.284492 -0.808766
2019-08-23 -0.148332 -0.560409 -1.769887  0.394762 -0.130838

[600 rows x 5 columns]

In [6]:
df['D'].sum()

42.85937709816494

In [7]:
df['D'].max()

3.0751189446724987

In [8]:
df['D'].sort_values(ascending=False)

2019-04-27    3.075119
2019-08-18    2.715773
2018-07-08    2.359983
2019-08-05    2.343910
2019-06-10    2.288981
                ...
2018-04-14   -2.264754
2018-03-09   -2.439511
2018-04-21   -2.731016
2019-02-24   -2.738100
2018-09-15   -3.107116
Name: D, Length: 600, dtype: float64

In [9]:
df.loc[:, ['B', 'C']]

                   B         C
2018-01-01  0.572181 -1.031178
2018-01-02  0.992099 -0.294819
2018-01-03  1.217014  0.459875
2018-01-04 -1.353532  0.807752
2018-01-05 -0.011887  0.374767
...              ...       ...
2019-08-19 -2.576895  1.365933
2019-08-20  0.505669  0.040796
2019-08-21  0.233858  0.060614
2019-08-22  0.319106 -1.081118
2019-08-23 -0.560409 -1.769887

[600 rows x 2 columns]

In [10]:
df.loc[:, ['B', 'C']].sort_values(by=['B'], ascending=False)

                   B         C
2019-03-28  2.727282  0.901010
2019-05-16  2.524107  0.494160
2018-03-17  2.512735 -0.783177
2019-04-21  2.485939  0.611863
2019-05-12  2.455848  1.374207
...              ...       ...
2019-08-19 -2.576895  1.365933
2018-10-07 -2.597943 -0.102979
2018-03-13 -2.695965 -0.150507
2018-12-06 -2.798479  0.516946
2019-06-04 -2.920884  0.929926

[600 rows x 2 columns]

In [11]:
df.loc[:, ['B', 'C']].sort_values(by=['C'], ascending=False)

                   B         C
2019-02-02 -0.641867  3.292423
2019-07-22  0.075282  2.985936
2018-05-14 -0.476914  2.874978
2018-09-14  0.662927  2.598673
2018-11-06  1.043497  2.572540
...              ...       ...
2019-05-11 -2.413117 -2.521005
2018-11-15 -0.511645 -2.648807
2019-04-19 -0.338980 -2.695981
2018-06-16 -0.790714 -2.818477
2019-07-16 -0.396321 -2.880339

[600 rows x 2 columns]

In [12]:
df.loc['20190101':'20190201', ['A', 'E']]

                   A         E
2019-01-01  0.876248  0.347552
2019-01-02 -0.448742 -1.883975
2019-01-03  0.187065 -1.081349
2019-01-04 -1.154012 -1.860427
2019-01-05  1.633124 -1.724511
2019-01-06  1.787415  1.908077
2019-01-07  1.516471 -0.198351
2019-01-08 -0.691957  1.943383
2019-01-09  0.421666  1.181766
2019-01-10 -0.490748  0.862320
2019-01-11  0.515127  0.599511
2019-01-12 -0.093671 -1.371303
2019-01-13  0.354944  0.987236
2019-01-14  0.345011  0.272022
2019-01-15  0.006208 -0.408917
2019-01-16  0.050979  0.736464
2019-01-17  1.598164 -0.122299
2019-01-18  0.425103 -1.172798
2019-01-19 -0.300933  1.732841
2019-01-20 -0.845827  0.901153
2019-01-21  0.322913  0.430197
2019-01-22  0.099845  0.355724
2019-01-23  1.503716  0.767993
2019-01-24 -1.566790 -0.956158
2019-01-25 -1.652121 -1.128488
2019-01-26 -1.398208  0.954931
2019-01-27  0.685647 -0.146679
2019-01-28  0.025844  0.373700
2019-01-29  0.377624 -0.601041
2019-01-30  2.994312  0.182805
2019-01-31  1.285901 -1.325280
2019-02-01 -0.810250 -0.045682

In [13]:
df.iloc[1]

A   -1.518206
B    0.992099
C   -0.294819
D   -1.566416
E   -2.840115
Name: 2018-01-02 00:00:00, dtype: float64

In [14]:
df.iloc[2:4, 0:2]

                   A         B
2018-01-03  1.146488  1.217014
2018-01-04  1.292546 -1.353532

In [19]:
df.iloc[[1, 2, 5], [0, 3]]

                   A         D
2018-01-02 -1.518206 -1.566416
2018-01-03  1.146488  1.815070
2018-01-06 -0.077143  1.122146